#product {
  height: 100vh;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  width: 75%;
}

.container-search-product {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  box-shadow: var(--bg-dark-shadow);
}

.container-search-product input {
  font-weight: bold;
  border: 0;
  width: 85%;
  padding: 1rem;
}

.container-search-product button {
  font-weight: bold;
  width: 15%;
  border-radius: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  color: white;
  border: solid var(--bg-color-pink);
  background: var(--bg-color-pink);
}

.product-container {
  width: 25%;
  height: 40%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.insert-product-title {
  box-shadow: var(--bg-dark-shadow);
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  color: white;
  background: var(--bg-color-pink);
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  box-shadow: var(--bg-dark-shadow);
}

.product-table-head {
  color: white;
  background: var(--bg-color-pink);
}

tr > th {
  padding: 1rem;
}

td {
  padding: 0.5rem;
}

tr:nth-of-type(even) {
  background-color: var(--bg-color-grey);
}

#insert-product {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: var(--bg-dark-shadow);
}

#insert-product input {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: solid var(--bg-color-grey);
  background: var(--bg-color-grey);
}

#insert-product #btn-insert-product {
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  border: solid var(--bg-color-pink);
  background: var(--bg-color-pink);
}

#insert-product h3 {
  margin-bottom: 2rem;
}

.btn-edit-product {
  padding: 0.8rem;
  color: white;
  border: none;
  cursor: pointer;
  background: var(--bg-color-blue);
}

.btn-delete-product {
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  color: white;
  background: var(--bg-color-pink);
}
