@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "appbar.css";
@import "sec-home.css";
@import "sec-product.css";
@import "sec-customer.css";
@import "sec-transaction.css";

:root {
  --bg-dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --bg-color-pink: #ec407a;
  --bg-color-grey: #eeeeee;
  --bg-color-blue: #3949ab;
  --bg-color-purple: #9c27b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  margin-left: 11rem;
  margin-right: 2rem;
}
